.radio-switch.check {
    background-color: #1DA464;
    color: #fff;
    padding: 6px 8px;
    border-radius: 50%;
    border: 1px solid transparent;
}

.radio-switch {
	border: 1px solid #ccc;
	padding: 6px 8px;
 	border-radius: 50%;
}

.radio-switch i {
	opacity: 0;
}

.radio-switch.check i {
	opacity: 1;
}

.radio-container {
    display: inline;
    position: relative;
    padding-left: 12px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: normal;
}
.radio-container .input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkmark {
    position: absolute;
    top: 1px;
    left: 0;
    height: 15px;
    width: 15px;
    border: 1px solid #A7A7A8;
    border-radius: 50%;
}
.radio-container .input.active ~ .checkmark {
    background-color: #fff;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.radio-container .input.active ~ .checkmark:after {
    display: block;
}
.radio-container .checkmark:after {
    top: 1px;
    left: 1px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #609D6D;
}