.collapsed {
    height: 0px;
    overflow: hidden;
    position: absolute;
    background: #fff;
    top: 0;
    margin: 0 -17px;
    padding: 1rem;
    opacity: 0;
    border-bottom: 1px solid rgba(0,0,0,.125);
    border-left: 1px solid rgba(0,0,0,.125);
    border-right: 1px solid rgba(0,0,0,.125);
    border-radius: 0px 0px 10px 10px;
    z-index: 1;
    transition: height 0.3s;
}

.collapsed.active {
    opacity: 1;
    height: 250px;
    transition: height 0.3s;
}

