nav.navbar, .navbar-default {
  background-color: black !important; /*antes #474746*/
  margin:0;
  z-index: 99;
  padding: 10px 0;
}
.header-nav .nav>li>a {
    padding-left: 16px;
}
.navbar-default {
  background-image: none;
  border: none;
  border-radius: 0;
}
.navbar-default .navbar-nav > li > a {
  color: white;
  font-size: 15 px;
}
.navbar-default .navbar-brand {
  color: white;
  /* background-color: red; */
}

.navbar-default .navbar-toggle {
  border-color: white;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: transparent;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  color: white;
  background-color: transparent;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: white;
  background-color: transparent;
}
.navbar-side > p {
    color:  #fff;
    margin:  0px;
    font-size: 12px;
}
.searchbar {
    display:  inline-block;
    width:  95%;
    position: relative;
}

.searchbar > .navbar-form.navbar-left,
.searchbar > .navbar-form.navbar-left > .form-group {
     width: 100%;
     position: relative;
     padding: 0;
}
.searchbar > .navbar-form.navbar-left > .form-group > input{
    width: 100%;
    padding-left: 145px;
    border: 1px solid #eeeeee;
    height: 42px;
}
.searchbar > .dropdown {
    position: absolute;
    z-index: 9;
    top: 8px;
    width: 115px;
    left: 0;
}

.searchbar > .dropdown > button {
    width: 110%;
    height: 36px;
    font-family: AvenirLTStd-Light;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    background: #dedede;
    font-size: 14px;
    color: #000; /*antes: color: #474747*/
    letter-spacing: 1px;
    -webkit-box-shadow: 11px 0px 15px rgba(0, 0, 0, 0.2);
            box-shadow: 11px 0px 15px rgba(0, 0, 0, 0.2);
    border: none;
    text-align: left;
    padding-left: 20px;
}
.searchbar > .dropdown > button .caret {
	position: absolute;
	border: none;
	display: inline-block;
	width: 5px;
	height: 5px;
	right: 30px;
    top: 10px;
    /* background: url(../../assets/icons/drp-arrow.png);   */
}
.searchbar span.glyphicon.glyphicon-search {
    width: 20px;
    height: 19px;
    background: url(../../assets/icons/search-icon.png);
}
.searchbar span.glyphicon.glyphicon-search:before{
    content:'';
}
.searchbar > .dropdown > button span.caret:after {
    content: "\e259";
    font-family: AvenirLTStd-Light;
    position: absolute;
    left: 0px;
    top: 0px;
    font-size: 11px;
    font-weight: bold;
}
.searchbar > .navbar-form.navbar-left > .form-group + button {
    position:  absolute;
    right:  0;
    top: 0;
    width: 69px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height: 42px;
}
.main-navbar {
    padding:  12px 0;
}
.navbar-header {
    padding: 0 15px;
}
.navbar-header,.navbar-header  a.navbar-brand {
    height: 80px;
}

.navbar-header  a.navbar-brand{
    padding:0 15px;
}

.navbar-ul > ul.main-ul {
    margin-top: 45px;
}

.navbar-default .navbar-nav > li > a {
    padding-bottom: 0;
}
.navbar-side > p > strong {
    font-size: 13px;
}
ul.nav.navbar-nav.navbar-right > li > a > button > i {
    width: 10px;
    height: 17px;
    margin-right: 6px;
    background: url(../../assets/icons/phone-icon.png);
    position: relative;
    vertical-align: text-bottom;
}

ul.nav.navbar-nav.navbar-right > li > a > button > i:before {
    content: "";
}
/* login tootip */
.navbar-side {
    position: relative;
}
div#logintooltipContent {
    position: absolute;
    background: #fff;
    width: 350px;
    padding: 15px;
    border: 1px solid #c5c5c5;
    border-radius: 8px;
    top: 60px;
    left: -270px;
    z-index: 99;
}
button.loginBtn {
    width: 100%;
    background: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-color: #1d9a64;
    color: #1d9a64;
    font-size: 16px;
}
.social-logins button {
    width: 100%;
    border-radius: 0;
    height: 40px;
}
.social-logins > .form-group {
    margin-bottom: 5px;
}
.social-logins {
    margin-top: 25px;
}
form.login-form a {
    color: #1d9a64;
    font-size: 14px;
}
.form-link {padding-top: 8px;}
p.login-tooltip {
    cursor: pointer;
}
.arowForToltip {
    position: absolute;
    width: 10px;
    height: 20px;
    border-style: solid;
    border-width: 10px 10px 10px 0px;
    border-color: transparent #eee #b73f3f00 #969696;
    box-sizing: border-box;
    /* left: -10px; */
    top: -15px;
    transform: rotate(90deg);
    right: 40px;
}
.arowForToltip:before {
    position: absolute;
    top: -11px;
    left: 1px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 10px 0px;
    border-color: transparent #fffbfb transparent #fff;
    content: " ";
    z-index: 99999999999999999999;
}
location {
    max-width:  40px;
}
.location.col-md-1.col-xs-1 {
    max-width:  40px;
}
.location.col-md-1.col-xs-1 > div {
    width: 18px;
    text-align:  center;
    padding: 0 !important;
    font-size:  20px;
    color:  #fff;
    position:  relative;
    top: 4px;
    cursor:pointer;
}
.loginBtnfb {
    background:  #415da2;
}
.loginBtngp {
    background: #d34a31;
}
button.loginBtntw {
    background:  #64a9ea;
}
/* adicionartooltipContent */
div#adicionartooltipContent {
    position: absolute;
    background: #fff;
    width: 355px;
    padding: 15px;
    border: 1px solid #c5c5c5;
    border-radius: 8px;
    top: 40px;
    left: -17px;
    z-index: 99;
    text-align: left;
    cursor: initial;
}
div#adicionartooltipContent > p{
  color: #a9aebb;
  font-size: 16px;
}
div#adicionartooltipContent >
 .loginBtn {
    background: #1d9a64;
    color:  #fff;
}
div#adicionartooltipContent >
 h3 {
    margin-bottom:  0;
}

div#adicionartooltipContent .title {
    color: #a5a8bb;
    font-size:  15px;
    text-align:  center;
    position: relative;
    margin-top: 15px;
    margin-bottom: 5px;
}

div#adicionartooltipContent .title > span {
    padding: 0 10px;
    display:  inline-block;
    margin:  0 auto;
    /* max-width: 150px; */
    background:  #fff;
}

div#adicionartooltipContent .title:after {
    content:  "";
    height:  1px;
    width:  100%;
    position:  absolute;
    top: 10px;
    background: #eeeef2;
    left:  0;
    z-index:  -1;
}
.zip-form .arowForToltip {
    right: auto;
    left: 20px;
}
.zip-form  .f1{
  width: 134px;
}
.zip-form  .f2{
  width: 67px;
}
.zip-form  .f3{
  width: 101px;
}
.zip-form.form-inline .form-group:not(:last-child) {
    margin-right: 10px;
}
.zip-form.form-inline .form-control{
  width: 100%;
  height: 47px;
}
.zip-form.form-inline .sendBtn{
  background: transparent;
  border-color: #64ba95;
  color: #1d9a64;
  font-size: 18px;
  padding: 10px 0;
}
p.login-tooltip > strong {
    color:  #fff;
}
.location-icon {
  display: inline-block;
    width: 18px;
    height: 19px;
    background: url(http://localhost:3000/assets/icons/sendto.png);
}
/* .navbar-collapse.collapse > .row:last-child strong {
    text-transform:  uppercase;
} */

ul.nav.navbar-nav.navbar-right > li > a {
    padding-top: 0;
}
ul.nav.navbar-nav.navbar-right > li > a > button {
    font-weight: 100;
    text-align: left;
    width: 232px;
    margin-right: 15px;
    font-family: AvenirLTStd-Light;
}
ul.nav.navbar-nav.navbar-right > li > a > button > i {
    font-size: 18px;
    padding-right: 5px;
    position: relative;
    top: 2px;
}
.header-nav {
    overflow:  visible;
    position:  relative;
    background: transparent;
}
.header-nav:after {
    content: '';
    -webkit-box-shadow: 0 0 40px rgba(0,0,0,0.8);
    box-shadow: 0 0 40px rgba(0,0,0,0.8);
    position: absolute;
    left: 0;
    bottom: 0px;
    right: 0;
    height: 80px;
    border-radius: 100%;
    z-index: 8;
    width: 100%;
    margin: 0 auto;
}
.navbar-right-section{
    width: 844px;
}
.navbar-right-section{
  width: calc(100% - 864px);
  margin-left: 20px;
  margin-top: 5px;
}
#cart-icon {
    width: 21px;
    height:  21px;
    background: url(../../assets/icons/cart.png);
    display:  inline-block;
    position: relative;
    right: 5px;
    cursor: pointer;
}
div#cart-icon.active{
    background: url(../../assets/icons/cart-active.png);
}
.navbar-side-cart > .navbar-side {
    display: inline-block;
    padding-left: 5px;
}
.navbar-right-section .col-md-5{
  padding-left: 10px;
}
.navbar-side-cart .tooltip-div {
    display:  inline-block;
    position: relative;
}
div#cart-tooltip {
    position:  absolute;
    background:  #fff;
    right: -50px;
    top: 40px;
    border-radius: 5px;
    padding:  20px 15px 10px 15px;
    width: 350px;
}
div#cart-tooltip h3 {
    margin-top:  0;
    font-size: 18px;
    color: #000;
    margin-bottom: 10px;
}
.cart-products .product > div{
    display: inline-block;
    vertical-align:  middle;
}
.cart-product-img {
    width:  62px;
    height:  63px;
    border-radius:  5px;
    position: relative;
}
.cart-product-img img {
    width:  100%;
    height:  100%;
    object-fit:  cover;
    border-radius: 5px;
}
.cart-product-detail {
    padding:  13px;
    width:  190px;
}
.cart-product-price {
    text-align: left;
}
.cart-product-detail > h5 {
    margin:  0;
}
.cart-products .product  h5 {
    margin:  0;
    font-size: 16px;
}
.cart-products .product {
    padding:  10px 0;
}
.cart-products .product:not(:last-child){
  border-bottom: 1px solid #eeeef2;
}
.cart-products .product .cart-product-detail h5:first-child {
    color:  #46506a;
    margin-bottom:  10px;
}

.cart-products .product .cart-product-detail h5:last-child {
    color: #a9aebb;
}

.cart-product-price > h5:first-child {
    font-size: 17px;
    margin-bottom:  10px;
    color: #646a77;
}
.cart-product-price > a {
    color:  #1d9a64;
    text-decoration:  underline;
    font-size:  16px;
}
.gotoCart{
  margin-top: 10px;
}
.gotoCart a {
    width: 100%;
    padding: 9px;
}
span.p-nmbr {
    position:  absolute;
    right:  -9px;
    top: -10px;
    background: #1d9a64;
    display:  inline-block;
    width:  24px;
    height: 23px;
    border-radius:  100%;
    font-size: 15px;
    text-align:  center;
    color:  #fff;
    font-weight:  bold;
    padding: 2px;
}
div#cart-tooltip  .arowForToltip{
  right: 58px;
}
button.navbar-toggle{
  z-index: 99999999;
}

.navbar-left-section.col-md-9.col-xs-12 {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    display: flex;
    align-items: flex-start;
}

/* alinha a localização, carrinho e login em colunas distintas*/
.show-grid {
    display: flex;
    flex-flow: row nowrap;
    flex-shrink: 0;
}

.main-navbar>.container {
    margin-top: 21px;
    margin-left: 173px;
    margin-right: 179px;
    padding: 0px;
}

#navdrop-dropdown {
    height: 42px;
}

.download-app-button {
    display: flex;
    justify-content: flex-end;
}

/* botões da right section da navbar, usando react-bootstrap*/
.col-xs-1, .col-md-1, .col-xs-4, .col-md-5, .col-xs-5, .col-md-7, .col-xs-7 {
    padding: 0px 0px 0px 0px;
}   
.col-xs-4 {
    width: 100%;
    height: 100%;
    padding: 0px 0px 0px 10px;
}
.col-xs-5, .col-md-5 {
    padding: 0px 10px 0px 0px;
}
.col-xs-7, .col-md-7 {
    width: 100%;
}

.btn-success{
    background-color: #579964;
}

/* botões da right section da navbar, usando table*/
.navbar-table, .navbar-table * {
    color: #fff;
    margin: 0px;
    padding: 0px;
}
.navbar-table {
    margin: 2.5% 0px 42px 0px;     /* top right bottom left*/
    position: relative;
    left: 100px;
}
.location-text-title, .location-text {
    width: 130px;
    height: 17px;
    display: flex;
    flex-flow: row nowrap;
}
.cart-text-title, .cart-text {
    width: 54px;
    height: 17px;
    display: flex;
    flex-flow: row nowrap;
}
.login-text-title, .login-button {
    width: 128px;
    height: 17px;
    display: flex;
    flex-flow: row nowrap;
}
.location-text-title {
    margin: 0px 22px 0px 0px;
}
.cart-text {
    margin: 0px 33px 0px 0px;
}

/* Regra não está sendo aplicada, razão desconhecida*/

.navbar-search * {
    border: 1px solid #fff;
    border-radius: 5%;
}

/* Tamanho da logo 27% maior do que devia*/
.navbar-brand {
    position: relative;
    top: -18px;
    left: -16px;
}

/* Botão de download do app para mobile*/
.btn-app {
    
    height: 43px;
    border-radius: 5px;
}

.download-app-button {
    width: 326px;
    position: relative;
    top: -13px;
    right: -100px;
}

@media (max-width:991px)
{
  .header-nav ul.nav.navbar-nav.navbar-right button {
      margin: 0;
  }
}
@media (max-width:767px){
.navbar-side.location-div {
    position:  relative;
    padding-left: 30px;
}
.navbar-side.location-div .tooltip-div {
    position:  absolute;
    left:  5px;
    top: 6px;
}
button.navbar-toggle.collapsed{
  margin-right: 0;
}
a.navbar-brand img {
    width:  100%;
    height: auto;
}
.sub-header{
  margin-top: 15px;
}
.navbar-brand{
  width: 180px;
}
.navbar-brand img{
  width: 100%;
  height: auto;
}
.header-nav ul.nav.navbar-nav.navbar-right {
    position: absolute;
    right: 60px;
    top: 2px;
}
.navbar-form.navbar-left {
    margin: 0;
    border:  none;
}
.searchbar > .dropdown{
    top:0;
    left: 0px;
}
.searchbar.hidden-lg.hidden-sm.hidden-md{
  margin-top: 10px;
}
.navbar-header a.navbar-brand{
  padding-left: 0;
}
.navbar-ul.row {
    margin-left:  0;
    margin-right:  0;
}
.navbar-default .navbar-nav > li > a{
    font-size:14px;
}
}
@media (max-width:635px) {
.searchbar > .dropdown {
    width:  95px !important;
}
.searchbar > .navbar-form.navbar-left > .form-group > input {
    padding-left: 115px;
}
p.login-tooltip > strong,.navbar-side > p > strong{
  font-size: 12px;
}
}
@media (max-width:612px){
  .sub-header .divs > div {
    width:  50%;
    margin:  10px 0;
  }
  .navbar-side-cart {
      padding-left:  8px;
  }
  div#adicionartooltipContent {
      display: none;
      width: 300px;
      left: -3px;
  }
  div#cart-tooltip {
      display: block;
      left: -8px;
      width: 300px;
  }
  div#cart-tooltip .arowForToltip {
      left: 15px;
      right:  auto;
  }
  div#logintooltipContent {
      left: -161px;
      width:  300px;
  }
  .arowForToltip {
      right: 90px;
  }
  form.zip-form.form-inline .form-group,
  form.zip-form.form-inline button {
      width:  100%;
  }
  .cart-product-img {
      display: none !important;
  }
  .cart-product-detail {
      width: 200px;
  }
}
@media (max-width:520px){
  .header-nav ul.nav.navbar-nav.navbar-right button {
    width: 31px;
    overflow:  hidden;
  }
  ul.nav.navbar-nav.navbar-right > li > a {padding-right: 40px;}
}
@media (max-width:374px){
  .sub-header .divs > div{
    padding: 0 10px;
  }
  .searchbar > .navbar-form.navbar-left > .form-group + button {
    position:  static;
    width:  100%;
    border-radius:  4px;
    border: none;
}

.searchbar > .navbar-form.navbar-left > .form-group > input {
    padding-left:  100px;
}



}
