nav.navbar, .navbar-default {
  background-color: black !important; /* before #474746*/
  margin:0;
  z-index: 99;
  padding: 10px 0;
}
.header-nav .nav>li>a {
    padding-left: 16px;
}
.navbar-default {
  background-image: none;
  border: none;
  border-radius: 0;
}
.navbar-default .navbar-nav > li > a {
  color: white;
  font-size: 13px;
}
.navbar-default .navbar-brand {
  color: white;
  /* background-color: red; */
}

.navbar-default .navbar-toggle {
  border-color: white;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: transparent;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  color: white;
  background-color: transparent;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: white;
  background-color: transparent;
}
.navbar-side > p {
    color:  #fff;
    margin:  0px;
    font-size: 12px;
}
.searchbar {
    display:  inline-block;
    width:  100%;
    position: relative;
}

.searchbar > .navbar-form.navbar-left,
.searchbar > .navbar-form.navbar-left > .form-group {
     width: 100%;
     position: relative;
     padding: 0;
}
.searchbar > .navbar-form.navbar-left > .form-group > input{
    width: inherit;
    height: 42px;
    padding-left: 3%;
    text-align: left;
    border: 1px solid #eeeeee;
}
.searchbar > .dropdown {
    position: absolute;
    z-index: 9;
    top: 8px;
    width: 115px;
    left: 0;
}

.searchbar > .dropdown > button {
    width: 110%;
    height: 36px;
    font-family: AvenirLTStd-Light;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    background: #dedede;
    font-size: 14px;
    color: #000; /*antes: color: #474747*/
    letter-spacing: 1px;
    -webkit-box-shadow: 11px 0px 15px rgba(0, 0, 0, 0.2);
            box-shadow: 11px 0px 15px rgba(0, 0, 0, 0.2);
    border: none;
    text-align: left;
    padding-left: 20px;
}
.searchbar > .dropdown > button .caret {
	position: absolute;
	border: none;
	display: inline-block;
	width: 5px;
	height: 5px;
	right: 30px;
    top: 10px;
    /* background: url(../../assets/icons/drp-arrow.png);   */
}
.searchbar span.glyphicon.glyphicon-search {
    width: 20px;
    height: 19px;
    background: url(../../assets/icons/search-icon.png);
}
.searchbar span.glyphicon.glyphicon-search:before{
    content:'';
}
.searchbar > .dropdown > button span.caret:after {
    content: "\e259";
    font-family: AvenirLTStd-Light;
    position: absolute;
    left: 0px;
    top: 0px;
    font-size: 11px;
    font-weight: bold;
}
.searchbar > .navbar-form.navbar-left > .form-group + button {
    position:  absolute;
    right:  0;
    top: 0;
    width: 69px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height: 42px;
}
.main-navbar {
    padding:  12px 0;
}
.navbar-header {
    padding: 0 15px;
    position: relative;
    right: 320px;
}
.navbar-header,.navbar-header  a.navbar-brand {
    height: 45px;
}

.navbar-header  a.navbar-brand{
    padding:0 15px;
}

.navbar-ul {
    width: 65%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

.navbar-ul > ul.main-ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    margin-top: 0px;
}

.navbar-default .navbar-nav > li > a {
    padding-bottom: 0;
}
.navbar-side > p > strong {
    font-size: 13px;
}
ul.nav.navbar-nav.navbar-right > li > a > button > i {
    width: 10px;
    height: 17px;
    margin-right: 6px;
    background: url(../../assets/icons/phone-icon.png);
    position: relative;
    vertical-align: text-bottom;
}

ul.nav.navbar-nav.navbar-right > li > a > button > i:before {
    content: "";
}
/* login tootip */
.navbar-side {
    position: relative;
}
div#logintooltipContent {
    position: absolute;
    background: #fff;
    width: 350px;
    padding: 15px;
    border: 1px solid #c5c5c5;
    border-radius: 8px;
    top: 60px;
    left: -270px;
    z-index: 99;
}
button.loginBtn {
    width: 100%;
    background: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-color: #1d9a64;
    color: #1d9a64;
    font-size: 16px;
}
.social-logins button {
    width: 100%;
    border-radius: 0;
    height: 40px;
}
.social-logins > .form-group {
    margin-bottom: 5px;
}
.social-logins {
    margin-top: 25px;
}
form.login-form a {
    color: #1d9a64;
    font-size: 14px;
}
.form-link {padding-top: 8px;}
p.login-tooltip {
    cursor: pointer;
}
.arowForToltip {
    position: absolute;
    width: 10px;
    height: 20px;
    border-style: solid;
    border-width: 10px 10px 10px 0px;
    border-color: transparent #eee #b73f3f00 #969696;
    box-sizing: border-box;
    /* left: -10px; */
    top: -15px;
    transform: rotate(90deg);
    right: 40px;
}
.arowForToltip:before {
    position: absolute;
    top: -11px;
    left: 1px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 10px 0px;
    border-color: transparent #fffbfb transparent #fff;
    content: " ";
    z-index: 99999999999999999999;
}
location {
    max-width:  40px;
}

.loginBtnfb {
    background:  #415da2;
}
.loginBtngp {
    background: #d34a31;
}
button.loginBtntw {
    background:  #64a9ea;
}
/* adicionartooltipContent */
div#adicionartooltipContent {
    position: absolute;
    background: #fff;
    width: 355px;
    padding: 15px;
    border: 1px solid #c5c5c5;
    border-radius: 8px;
    top: 40px;
    left: -17px;
    z-index: 99;
    text-align: left;
    cursor: initial;
}
div#adicionartooltipContent > p{
  color: #a9aebb;
  font-size: 16px;
}
div#adicionartooltipContent >
 .loginBtn {
    background: #1d9a64;
    color:  #fff;
}
div#adicionartooltipContent >
 h3 {
    margin-bottom:  0;
}

div#adicionartooltipContent .title {
    color: #a5a8bb;
    font-size:  15px;
    text-align:  center;
    position: relative;
    margin-top: 15px;
    margin-bottom: 5px;
}

div#adicionartooltipContent .title > span {
    padding: 0 10px;
    display:  inline-block;
    margin:  0 auto;
    /* max-width: 150px; */
    background:  #fff;
}

div#adicionartooltipContent .title:after {
    content:  "";
    height:  1px;
    width:  100%;
    position:  absolute;
    top: 10px;
    background: #eeeef2;
    left:  0;
    z-index:  -1;
}
.zip-form .arowForToltip {
    right: auto;
    left: 20px;
}
.zip-form  .f1{
  width: 134px;
}
.zip-form  .f2{
  width: 67px;
}
.zip-form  .f3{
  width: 101px;
}
.zip-form.form-inline .form-group:not(:last-child) {
    margin-right: 10px;
}
.zip-form.form-inline .form-control{
  width: 100%;
  height: 47px;
}
.zip-form.form-inline .sendBtn{
  background: transparent;
  border-color: #64ba95;
  color: #1d9a64;
  font-size: 18px;
  padding: 10px 0;
}
p.login-tooltip > strong {
    color:  #fff;
}
.location-icon {
  display: inline-block;
    width: 18px;
    height: 19px;
    background: url(http://localhost:3000/assets/icons/sendto.png);
}
/* .navbar-collapse.collapse > .row:last-child strong {
    text-transform:  uppercase;
} */

ul.nav.navbar-nav.navbar-right > li > a {
    padding-top: 0;
}
ul.nav.navbar-nav.navbar-right > li > a > button {
    font-weight: 100;
    text-align: left;
    width: 232px;
    margin-right: 15px;
    font-family: AvenirLTStd-Light;
}
ul.nav.navbar-nav.navbar-right > li > a > button > i {
    font-size: 18px;
    padding-right: 5px;
    position: relative;
    top: 2px;
}
.header-nav {
    overflow:  visible;
    position:  relative;
    background: transparent;
}
.header-nav:after {
    content: '';
    -webkit-box-shadow: 0 0 40px rgba(0,0,0,0.8);
    box-shadow: 0 0 40px rgba(0,0,0,0.8);
    position: absolute;
    left: 0;
    bottom: 0px;
    right: 0;
    height: 80px;
    border-radius: 100%;
    z-index: 8;
    width: 100%;
    margin: 0 auto;
}
.navbar-right-section{
    width: 844px;
}
.navbar-right-section{
  width: calc(100% - 864px);
  margin-left: 20px;
  margin-top: 5px;
}
#cart-icon {
    width: 21px;
    height:  21px;
    background: url(../../assets/icons/cart.png);
    display:  inline-block;
    position: relative;
    right: 5px;
    cursor: pointer;
}
div#cart-icon.active{
    background: url(../../assets/icons/cart-active.png);
}
.navbar-side-cart > .navbar-side {
    display: inline-block;
    padding-left: 5px;
}
.navbar-right-section .col-md-5{
  padding-left: 10px;
}
.navbar-side-cart .tooltip-div {
    display:  inline-block;
    position: relative;
}
div#cart-tooltip {
    position:  absolute;
    background:  #fff;
    right: -50px;
    top: 40px;
    border-radius: 5px;
    padding:  20px 15px 10px 15px;
    width: 350px;
}
div#cart-tooltip h3 {
    margin-top:  0;
    font-size: 18px;
    color: #000;
    margin-bottom: 10px;
}
.cart-products .product > div{
    display: inline-block;
    vertical-align:  middle;
}
.cart-product-img {
    width:  62px;
    height:  63px;
    border-radius:  5px;
    position: relative;
}
.cart-product-img img {
    width:  100%;
    height:  100%;
    object-fit:  cover;
    border-radius: 5px;
}
.cart-product-detail {
    padding:  13px;
    width:  190px;
}
.cart-product-price {
    text-align: left;
}
.cart-product-detail > h5 {
    margin:  0;
}
.cart-products .product  h5 {
    margin:  0;
    font-size: 16px;
}
.cart-products .product {
    padding:  10px 0;
}
.cart-products .product:not(:last-child){
  border-bottom: 1px solid #eeeef2;
}
.cart-products .product .cart-product-detail h5:first-child {
    color:  #46506a;
    margin-bottom:  10px;
}

.cart-products .product .cart-product-detail h5:last-child {
    color: #a9aebb;
}

.cart-product-price > h5:first-child {
    font-size: 17px;
    margin-bottom:  10px;
    color: #646a77;
}
.cart-product-price > a {
    color:  #1d9a64;
    text-decoration:  underline;
    font-size:  16px;
}
.gotoCart{
  margin-top: 10px;
}
.gotoCart a {
    width: 100%;
    padding: 9px;
}
span.p-nmbr {
    position:  absolute;
    right:  -9px;
    top: -10px;
    background: #1d9a64;
    display:  inline-block;
    width:  24px;
    height: 23px;
    border-radius:  100%;
    font-size: 15px;
    text-align:  center;
    color:  #fff;
    font-weight:  bold;
    padding: 2px;
}
div#cart-tooltip  .arowForToltip{
  right: 58px;
}
button.navbar-toggle{
  z-index: 99999999;
}

.navbar-left-section {
    width: 850px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    display: flex;
    align-items: flex-start;
}

/* align localization, cart and login cols */
.show-grid {
    display: flex;
    flex-flow: row nowrap;
    flex-shrink: 0;
}

.main-navbar>.container {
    height: auto;
    margin-top: 21px;
    margin-left: 120px;
    margin-right: 120px;
    padding: 0px;
}

/* #navdrop-dropdown {
    height: 42px;
} */


/* mobile app download button */

.btn-app {
    height: 43px;
    border-radius: 5px;
    width: 326px;
    position: relative;
    bottom: 13px;
    left: 9%;
}

/* navbar right section buttons, using react-bootstrap */
.col-xs-1, .col-md-1, .col-xs-4, .col-md-5, .col-xs-5, .col-md-7, .col-xs-7 {
    padding: 0px 0px 0px 0px;
}   
.col-xs-4 {
    width: 100%;
    height: 100%;
    padding: 0px 0px 0px 10px;
}
.col-xs-5, .col-md-5 {
    padding: 0px 10px 0px 0px;
}
.col-xs-7, .col-md-7 {
    width: 100%;
}

/* navbar right section buttons, using table instead of react-bootstrap */
.navbar-table, .navbar-table * {
    color: #fff;
    margin: 0px;
    padding: 0px;
}
.navbar-table {
    margin: 2.5% 0px 12px 10px;     /* top right bottom left*/
    position: relative;
    bottom: 12px;
}
.location-text-title, .location-text {
    padding: 0px 0px 0px 10px;
    width: 140px;
    height: 17px;
    display: flex;
    flex-flow: row nowrap;
}
.cart-text-title, .cart-text {
    width: 54px;
    height: 17px;
    display: flex;
    flex-flow: row nowrap;
}
.login-text-title, .login-button {
    width: 128px;
    height: 17px;
    display: flex;
    flex-flow: row nowrap;
}
.location-text-title {
    margin: 0px 22px 0px 0px;
}
.cart-text {
    margin: 0px 33px 0px 0px;
}

.btn-magnifier {
    border: 1px solid #fff;
    border-radius: 5%;
}

/* logo size appears 27% bigger than mockup */
/* .navbar-brand {
    position: relative;
    top: 100px;
    right: 20px;
} */

.navbar-brand>img {
    width: 80%;
}
/* button colors */
.btn-success {
    background-color: #579964;
}

/* visibility */
.visible {
    visibility: visible;
}
.invisible {
    visibility: hidden;
}

/* download app section, visible only on xs devices */
.download-app-big {
    background-color: #579964;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}
.download-app-big>ul {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.download-app-big>ul.nav>li>a>h2, .download-app-big>ul.nav>li>a>p {
    color: #fff;
    text-align: center;
}
.download-app-big>ul>li>a>button {
    border: 1px solid white;
    border-radius: 15px;
    text-align: center;
}

@media (max-width: 1025px) {        /* iPad Pro width: 1024px */
    .main-navbar {
        width: 100%;
    }
    .main-navbar>.container {
        width: calc(100% - 200px);
    }
    .main-navbar>.container>.container {
        width: 100%;
    }
    .navbar-brand {
        width: 80%;
        position: relative;
        left: 160px;
        top: 50px;
    }
    .navbar-ul {
        width: 400px;
        margin: 0;
        margin-left: 100px;
    }
}

@media (max-width: 770px) {     /* iPad width: 768px */
    .main-navbar {
        width: 100%;
    }
    .container>.show-grid {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        height: 120px;
    }
    .navbar-ul {
        width: 100%;
        margin: 0;
    }

    .navbar-brand {
        position: relative;
        left: 290px;
        top: -10px;
    }
    .navbar-ul {
        position: relative;
        left: -20px;
    }
}

@media (max-width: 415px) {     /* iPhone 6/7/8 Plus width: 414px */
    .main-navbar {
        width: 100%;
    }
    .main-navbar>.container {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        width: 100%;
        margin-left: 0;
    }
    .navbar-table {
        width: 181px;
        height: 70px;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        position: relative;
        left: -180px;
    }
    .navbar-table>tr {
        width: 181px;
        height: 70px;
    }
    .location-text-title, .location-text, .cart-text-title, .cart-text, .login-text-title, .login-button {   
        font-size: 10px;
    }
    .navbar-brand {
        width: 50%;
        margin-left: 230px;
        position: relative;
        top: -20px;
        left: 100px;
    }
    .show-grid {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
    }
    .main-navbar>.container>.container {
        width: 100%;
    }
    .navbar-toggle {
        position: relative;
        left: 300px;
        top: -35px;
        border: 0px solid;
    }
    .searchbar {
        position: relative;
        left: 30px;
    }

    .login-text-title, .login-button {
        width: 100px;
    }

}

@media (max-width: 380px) {     /* iPhone 6/7/8 width: 375px */
    .download-app-big>ul>li>a>.btn-app {
        width: 80%;
    }
    .navbar-brand {
        left: 100px;
    }
    .searchbar {
        left: 40px;
    }
    .navbar-table {
        left: -130px;
    }
    .navbar-toggle {
        left: 330px;
    }
    .location-text-title, .location-text, .cart-text-title, .cart-text {
        margin: 0;
    }
}

@media (max-width: 325px) {     /* iPhone 5/SE width: 320px */
    .navbar-brand {
        left: 100px;
    }
    .navbar-table {
        left: -80px;
    }

    .location-text-title,
    .location-text {
        width: 70px;
    }
    .location-text {
        height: 35px;
    }
}