.input-range__slider {
  appearance: none;
  background: #3f51b5;
  border: 1px solid #3f51b5;
  border-radius: 100%;
  cursor: pointer;
  display: block;
  height: 1rem;
  margin-left: -0.5rem;
  margin-top: -0.65rem;
  outline: none;
  position: absolute;
  top: 50%;
  transition: transform.range-form 0.3s ease-out, box-shadow 0.3s ease-out;
  width: 1rem; }
  .input-range__slider:active {
    transform.range-form: scale(1.3); }
  .input-range__slider:focus {
    box-shadow: 0 0 0 5px rgba(63, 81, 181, 0.2); }
  .input-range--disabled .input-range__slider {
    background: #cccccc;
    border: 1px solid #cccccc;
    box-shadow: none;
    transform.range-form: none; }

.input-range__slider-container {
  transition: left 0.3s ease-out; }

.input-range__label {
  color: #aaaaaa;
  font-family: "Helvetica Neue", san-serif;
  font-size: 0.8rem;
  transform.range-form: translateZ(0);
  white-space: nowrap; }

.input-range__label--min,
.input-range__label--max {
  bottom: -1.4rem;
  position: absolute; }

.input-range__label--min {
  left: 0; }

.input-range__label--max {
  right: 0; }

.input-range__label--value {
  position: absolute;
  top: -1.8rem; }

.input-range__label-container {
  left: -50%;
  position: relative; }
  .input-range__label--max .input-range__label-container {
    left: 50%; }

.input-range__track {
  background: #eeeeee;
  border-radius: 0.3rem;
  cursor: pointer;
  display: block;
  height: 0.3rem;
  position: relative;
  transition: left 0.3s ease-out, width 0.3s ease-out; }
  .input-range--disabled .input-range__track {
    background: #eeeeee; }

.input-range__track--background {
  left: 0;
  margin-top: -0.15rem;
  position: absolute;
  right: 0;
  top: 50%; }

.input-range__track--active {
  background: #3f51b5; }

.input-range {
  height: 1rem;
  position: relative;
  width: 100%;
}
.filters-bar .panel {
  background:  transparent;
  border: none;
  margin: 0;
}
.filters-bar .panel > .panel-heading {
  padding: 10px 12px 0;
}
.filters-bar .panel > .panel-heading > .panel-title {
  color:  #000;
  font-size:  14px;
}
.filters-bar .panel-default>.panel-heading {
    position:  relative;
    padding-left: 22px;
    font-family: Avenir LT Std;
    font-weight: bold;
}
.filters-bar  .panel > .panel-heading > a{
      position: absolute;
      width: 16px;
      height: 16px;
      top: 10px;
      left: 0;
}
.filters-bar .panel > .panel-heading > a>span:before {
    display:  none;
}
.filters-bar .panel > .panel-heading > a>span {
    width:  16px;
    height:  16px;
    top: 0;
    background: url(../../assets/icons/filter-panel.png);
}
.filters-bar .panel > .panel-heading > a>span {
    vertical-align: top;
}
.input-range__slider {
    width: 27px;
    height: 27px;
    background: #e6e4e1;
    border: 3px solid #a1a1a1;
    position:  absolute;
    top: -7px !important;
}
.input-range__track.input-range__track--background {
    height:  3px;
}
.input-range__track--active {
    background:  #a1a1a1;
}
span.input-range__label.input-range__label--min,
span.input-range__label.input-range__label--max  {
    display:  none;
}
span.input-range__label-container {
    padding: 0px;
    display: block;
    background: transparent;
    position: absolute;
    top: -29px !IMPORTANT;
    left: -8px !important;
    width: 32px;
    height: 25px;
    border: 2px solid #a1a1a1;
    border-radius: 5px;
    color: #000;
    font-size: 11px;
    text-align: center;
    padding-top: 4px;
    font-family: Avenir LT Std;
    font-weight: bold;
}
.filters-bar .panel-default>.panel-heading+.panel-collapse>.panel-body{
    padding-left: 0;
    padding-right: 0;
  }
    .filters-bar .panel-default>.panel-heading+.panel-collapse>.panel-body form.range-form {
      padding-top: 25px;
    }
  .filters-bar .panel-default>.panel-heading+.panel-collapse>.panel-body form.range-form .date-range{
    margin-top: 30px;
    display: flex;
    padding-left: 0;
    padding-right: 0;
    align-items: baseline;
  }
  .filters-bar .panel-default>.panel-heading+.panel-collapse>.panel-body form.range-form > .date-range >div{
    font-size: 11px;
    color: #000;
    font-family: Avenir LT Std;
    font-weight: bold;
  }
.filters-bar .panel-default>.panel-heading+.panel-collapse>.panel-body form.range-form > .date-range > div:first-child{
    margin-right: 10px;
}
.filters-bar .panel-default>.panel-heading+.panel-collapse>.panel-body form.range-form > .date-range > div:last-child{
    margin-left: 10px;
}
.filters-bar .panel-default>.panel-heading+.panel-collapse>.panel-body form.range-form .date-range .input-range{
  width: 100%;
}
.input-range__track.input-range__track--background span.input-range__slider-container:last-child .input-range__slider{right:0;}
.submit-filter{
  margin-top: 20px;
}

.chkbox {
    display: inline-block;
    float: right;
    padding:  5px;
}
.chkbox label{
  cursor: pointer;
}
.chkbox label.textlabel {
    color: #808080;
    font-size:  11px;
    margin-left:  8px;
}
.chkbox > * {
    margin:  0;
    display:  inline-block;
    vertical-align: middle;
}
.chkbox > label:not(.textlabel) {
    height:  11px;
    width:  11px;
    border: 1px solid #808080;
    position: relative;
}
.chkbox > input {
    width:  0;
    height:  0;
    display: none;
}
.chkbox > input:checked + label{
    border-color:#1d9a64;
}
.chkbox > input:checked + label:not(.textlabel):after {
    position:  absolute;
    left: 1px;
    top: 0px;
    content: "\e013";
    font-family:  'Glyphicons Halflings';
    font-size: 7px;
    color: #1d9a64;
}
.filters-bar .panel > .panel-heading > a.collapsed > span {
    background: url(../../assets/icons/filter-panel-c.png);
    height:  18px;
}
form.review-form .chkbox,
form.products-form .chkbox  {
    display: block;
    float:  none;
    padding: 0;
}
.review-form .chkbox > label:not(.textlabel) {
    height:  12px;
}
span.star-sm {
    display:  inline-block;
    height:  14px;
    width:  14px;
    background:  url(../../assets/icons/star-grey.png);
    vertical-align:middle;
}
span.star-sm.fill{
    background:  url(../../assets/icons/star-sm.png);
}
.chkbox span.star-sm{
    margin-left:4px;
}
form.review-form .form-group {
    margin:  0;
}

products-form .chkbox label.textlabel {
    font-size:  12px;
}
form.products-form .chkbox > label:not(.textlabel) {
    height:  12px;
}
form.products-form .form-group {
    margin:  0;
}
form.products-form .chkbox label.textlabel{
  font-size: 12px;
}
.filters-bar .panel-default > .panel-heading + .panel-collapse > .panel-body {
  padding: 0;
}
.filters-bar h4 {
    margin-top:  0;
}
.filterd-content .old-price:before,.filterd-content .old-price:after {
    display:  none;
}
.topbar button.dropdown-toggle{
  font-size: 14px;
  color: #666;
  background: transparent;
  border: none;
  box-shadow: none;
  padding: 0;
  font-weight: bold;
  width: 124px;
  border-radius: 0;
  border-right: 1px solid #666;
}
.topbar button.dropdown-toggle .caret{
  border: none;
  height: 9px;
  width: 13px;
  background: url(../../assets/icons/drp-arrow.png);
}
.topbar button.btn-group.open .dropdown-toggle {
    box-shadow:  none;
}
#view-controls,#view-controls button {
    display:  inline-block;
    vertical-align: middle;
    background: transparent;
    border: none;
}
#view-controls,#view-controls button:focus{
  outline: none;
}
#view-controls button.list {
    width:  14px;
    height:  14px;
    background:  url(../../assets/icons/list-view.png);
}
#view-controls button.grid {
    width:  15px;
    height:  15px;
    background:  url(../../assets/icons/grid-view-grey.png);
}
.grid > button.grid{
  background:  url(../../assets/icons/grid-view.png) !important;
}
.list > button.list{
  background:  url(../../assets/icons/list-view-green.png) !important;
}
#view-controls {
    margin-left: 13px;
}

#view-controls > button:last-child {
    margin-left:  8px;
}
/*# sourceMappingURL=index.css.map */
