footer{
  background: #000;
  color: #fff;
      border-top: 1px solid #737271;
}
.copyright {
    display:  inline-block;
}

.copyright > p {
    color: #b5b5b5;
    margin:  0;
    font-size: 13px;
    text-transform:  uppercase;
}
.copyright {
    display:  inline-block;
}

.copyright > p {
    color: #b5b5b5;
    margin:  0;
    font-size: 13px;
    text-transform:  uppercase;
}

.site-links > ul {
    padding-left:  0;
    list-style:  none;
}

.site-links > ul > li > a,.footer-heading > h4{
    color:  #fff;
    font-size:  18px;
}
.footer-heading > h4 {
    margin-bottom:  15px;
}
.site-links > ul > li > a {
    line-height:  28px;
}
footer .content.row {
    padding-top:  60px;
    padding-bottom:  30px;
}
footer .content.row + .row {
    margin-bottom:  25px;
}
.flags > a:first-child {
    display:  inline-block;
    margin-right:  10px;
}
footer .social {
    margin-top:  20px;
}

footer .social > div {
    width: 28px;
    display:  inline-block;
    background: #303030;
    border-radius:  100%;
    padding: 5px 0;
    height:  28px;
    text-align:  center;
}

footer .social > div:not(:first-child) {
    margin-left: 5px;
}
.social a {
    display:  inline-block;
    width:  100%;
    height:  100%;
    color:  #fff;
}

@media (max-width: 767px){
.footer-heading h4 {
    font-weight:  bold;
    margin-top: 25px;
    margin-bottom:  10px;
}
.site-links > ul > li > a {
    font-size:  15px;
    line-height: 24px;
}
footer .content.row {
    padding-top: 30px;
}
}
@media (max-width: 374px){
  .col-xs-6 {
    width:  100%;
    text-align:  center;
}
}
