/* general footer settings */

footer{
  background: #000;
  color: #fff;
      border-top: 1px solid #737271;
}

footer .content.row {
    padding-top: 60px;
    padding-bottom: 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

/* container */

footer>.container {
    margin: 10px 146px;
    padding: 0;
}

/* footer top */

.footer-top {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.footer-top>.footer-logo {
    display: flex;
    justify-content: inherit;
    margin-bottom: 20px;
}

.footer-top>.download-app-button>li>a>.btn-app {
    width: 110%;
    margin-right: 0;
    position: relative;
    bottom: 0;
    left: 0;
}

/* download button */

.footer-top>.download-app-button>li>a {
    background-color: transparent;
}

.footer-top>.download-app-button>li>a>button>i {
    width: 10px;
    height: 17px;
    margin-right: 6px;
    background: url(../../assets/icons/phone-icon.png);
    position: relative;
    vertical-align: text-bottom;
}

.footer-top>.download-app-button>li>a>button>i:before {
    content: "";
}

/* footer center */

.footer-center>.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.footer-center>.row>div {
    width: 200px;
    margin: 70px 10px;
    text-align: center;
}

.footer-center>.row>div>h4 {
    color: #fff;
    margin-bottom: 50px;
}

.footer-center>.row>div>p {
    color: #fff;
    font-size: 13px;
    margin-bottom: 10px;
}

/* footer-bottom */

.footer-bottom {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: inherit;
}

.row>div>.wemind-group {
    width: 63%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-self: flex-end;
}

/* copyright */

.copyright {
    display:  inline-block;
}

.copyright > p {
    /* before: color: #b5b5b5 */
    color: #fff;
    margin:  0;
    font-size: 13px;
    text-transform:  uppercase;
}
.copyright {
    display:  inline-block;
}

/* social media */

footer .social {
    margin-top:  20px;
    margin-right: 10px;
}

footer .social > div {
    width: 28px;
    display:  inline-block;
    background: #303030;
    border-radius:  100%;
    padding: 5px 0;
    height:  28px;
    text-align:  center;
}

footer .social > div:not(:first-child) {
    margin-left: 5px;
}
.social a {
    display:  inline-block;
    width:  100%;
    height:  100%;
    color:  #fff;
}

/* line separator */

.separator {
    height: 2px;
    width: 100%;
    background-color: #fff;
}

@media (max-width: 767px){

    .footer-heading h4 {
        font-weight:  bold;
        margin-top: 25px;
        margin-bottom:  10px;
    }

    footer .content.row {
        padding-top: 30px;
    }
}

@media (max-width: 374px){


}
