/* general footer settings */

footer{
  background: #000;
  color: #fff;
      border-top: 1px solid #737271;
}

footer .content.row {
    padding-top: 60px;
    padding-bottom: 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

/* footer top */

.footer-top {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.footer-top>.footer-logo {
    display: flex;
    justify-content: inherit;
}

.btn-app {
    height: 43px;
    border-radius: 5px;
    width: 326px;
    position: relative;
    bottom: 0;
    left: 0;
}

/* footer center */

.footer-center>.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.footer-center>.row>div {
    width: 150px;
    margin: 50px 40px;
}

.footer-center>.row>div>h4 {
    color: #b5b5b5;
    margin-bottom: 50px;
}

.footer-center>.row>div>p {
    color: #b5b5b5;
    font-size: 13px;
    margin-bottom: 10px;
}

/* footer-bottom */

.footer-bottom {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

/* copyright */

.copyright {
    display:  inline-block;
}

.copyright > p {
    color: #b5b5b5;
    margin:  0;
    font-size: 13px;
    text-transform:  uppercase;
}
.copyright {
    display:  inline-block;
}

/* social media */

footer .social {
    margin-top:  20px;
}

footer .social > div {
    width: 28px;
    display:  inline-block;
    background: #303030;
    border-radius:  100%;
    padding: 5px 0;
    height:  28px;
    text-align:  center;
}

footer .social > div:not(:first-child) {
    margin-left: 5px;
}
.social a {
    display:  inline-block;
    width:  100%;
    height:  100%;
    color:  #fff;
}

@media (max-width: 767px){

    .footer-heading h4 {
        font-weight:  bold;
        margin-top: 25px;
        margin-bottom:  10px;
    }

    footer .content.row {
        padding-top: 30px;
    }
}

@media (max-width: 374px){


}
