.swipeable-carousel-holder {
    width: 320px;
}

.swipeable-carousel {
    overflow: hidden;
    width: 100%;
}

.swipeable-item-holder {
    transition: all 250ms ease-out;
    width: 1500px;
    transform: translate3d(-600px, 0px, 0px);
}

.swipeable-item {
    float: left;
}

.swipeable-h {
    height: 0;
    visibility: hidden;
    clear: left;
}