.month-item:hover:not(.color-grey),
.month-item.active:not(.color-grey) {
	background-color: #609D6D;
	color: #fff;
}

.month-item.color-grey {
	cursor: default;
}

.wrap-calendar-times {
	overflow-y: auto;
	height: 152px;
}

.wrap-calendar-times::-webkit-scrollbar {
	display: none;
}