.jumbotron {
  margin-bottom: 4em;
}
.person-wrapper {
  margin-bottom: 2em;
}
.profile-pic {
  width: 50%;
}
.btn-primary {
  background-image: none;
  border: none;
  border-radius: 0;
  background-color: #2892D7;
}
h3 {
  margin-bottom: 1em;
}
.pad0{
  padding: 0;
}
/* banenr */
.banner {
    position: relative;
    background: #e6e4e1;
}
.banner:after {
    content:  '';
    box-shadow: 0 0 40px rgba(0,0,0,0.7);
    position:  absolute;
    left:  0;
    bottom: 0;
    right:  0;
    height: 40px;
    border-radius:  100%;
    z-index:  -1;
    width: 100%;
    margin:  0 auto;
}
.banner img{
    width:100%;
    height:100%;
    object-fit:cover;
}
.banner .carousel-control {
    background:  #fff;
    height: 80px;
    top: 0;
    bottom:  0;
    margin:  auto;
    width: 50px;
    opacity:  1;
    border:  1px solid #d0d1d0;
    box-shadow: 0px 7px 16px rgba(0,0,0,0.1);
}
.banner .carousel-control.left{
    left: 0;
    border-top-right-radius:  5px;
    border-bottom-right-radius:  5px;
}
.banner .carousel-control.right{
  border-top-left-radius:  5px;
  border-bottom-left-radius:  5px;
}
.banner a.carousel-control > span {
    position:  absolute;
    left:  0;
    right:  0;
    top: 0;
    bottom:  0;
    margin:  auto;
    color:  #579964;
}
ol.carousel-indicators {
    display:  none;
}
.carousel-caption{
    max-width: 292px;
    margin:0 auto;
    padding:  0;
    position:  absolute;
    bottom:  0;
    height: 180px;
    text-align: left;
}
.carousel-caption > h1 {
    color: #fff;
    font-size: 72px;
    font-family: Manus;
    line-height: 25.27px;
    margin-top: 45px;
}
.carousel-caption > p{
      color: #e6e4e1;
      font-size: 25.12px;
      text-align: left;
      line-height: 25.27px;
      margin-top: 25px;
}
.banner span.glyphicon.glyphicon-chevron-left,
.banner span.glyphicon.glyphicon-chevron-right {
    width:  20px;
    height:  33px;
    background: url(../assets/icons/banner-arrow-left.png);
}
.banner span.glyphicon.glyphicon-chevron-left:before,
.banner span.glyphicon.glyphicon-chevron-right:before {
    display:  none;
}
.banner span.glyphicon.glyphicon-chevron-right {
    background: url(../assets/icons/banner-arrow-right.png);
}
/*  */
.produtos {
    background:  #fff;
    border:  1px solid #c9c9c9;
}
.produtos-image {
    height:  269px;
    width:  100%;
}
.produtos-image img {
    width:  100%;
    height:  100%;
    object-fit:  cover;
}
.section-heading h3 {
    font-size:  36px;
}
.detail-text p {
    margin:  0;
}
.produtos-detail {
    padding:  15px 10px;
}
.old-price {
    font-size:  17px;
    color:  #8d8d8d;
    display: inline-block;
    position: relative;
    padding: 0 2px
}
.now-price {
    color:  #141414;
    font-size:  25px;
}
.now-price > span.discount {
    color:  #579964;
    font-size:  15px;
}
.single-price {
    font-size:  16px;
}
.detail-text > p {
    font-size:  17px;
    letter-spacing:  -1px;
}
.detail-text {
    margin-top:  5px;
}
/* reviews */
.reviews-wrapper .review {
    background:  #fff;
    width:  33.333%;
    float:  left;
    padding: 60px 15px 21px;
}
.reviews-wrapper .review:not(:last-child) {
    border-right:  1px solid #eee;
}
.review-heading h3 {
    margin-bottom: 10px;
    color:  #353535;
    font-size:  23px;
    margin-top: 0;
}

.review-heading {
    margin-bottom:  40px;
}
.review-heading .review-author{
    color:#c0bfbf;
    font-size:16px;
}
.review-heading h3 {
    margin-bottom: 10px;
    color:  #353535;
    font-size:  23px;
}

.review-heading {
    margin-bottom:  40px;
}
.review-heading .review-author{
    color:#c0bfbf;
    font-size:16px;
}

.review-text > p {
    font-size:  17px;
    color:  #a2a09f;
    line-height: 27.38px;
}
.review-rating{
    margin: 20px 0 0;
}
.review-rating .stars {
    display:  inline-block;
    margin:  0 auto;
}

.review-rating .stars span:not(:first-child) {
    margin-left: 5px;
}
.review-rating .rating-nmbr {
    display:  inline-block;
    font-size:  18px;
    color: #a1a09f;
    padding-left:  10px;
}
/* services */
.content-sec {
    background:  #fff;
    border: 1px solid #c9c8c8;
    color: #727272;
}
.service {
    padding:  30px;
}
.service:not(:last-child) {border-bottom: 1px solid #efefef;}
.img-holder {
    display:  inline-block;
    width: 340px;
    height:  229px;
}

.img-holder > img {
    width:  100%;
    height:  100%;
    object-fit:  cover;
}
.s-detail-holder {
    display:  inline-block;
    width: calc(100% - 342px);
    padding-left: 30px;
    box-sizing:  border-box;
    vertical-align: top;
}
.s-catgories > .tag {
    display:  inline-block;
    font-size: 17px;
    border: 1px solid #f3f3f3;
    padding: 5px 19px;
}

.s-catgories > .tag:not(:last-child) {
    margin-right:  6px;
}
.sr-detail > p {
    font-size: 23px;
    margin-bottom:  35px;
}
.sr-heading > h2 {
    margin: 6px 0 20px;
    color:  #333333;
    font-size:  41px;
    display: inline-block;
    margin-right: 25px;
    line-height: 30px;
}
/* panel */
.panel > .panel-heading {
    background: transparent;
    border: none;
    padding: 10px 12px;
}
.panel > .panel-heading > a {
    float: right;
    font-size:  20px;
    cursor: pointer;
}
.panel > .panel-heading > .panel-title {
    display: inline-block;
    color: #727272;
    font-size:  23px;
}
.panel {
    box-shadow:  none;
    border: 1px solid #f3f3f3;
    margin-top: 13px;
    margin-bottom: 0;
}
.panel > .panel-heading > a>span {
    display:  inline-block;
    vertical-align:  middle;
    color: #1d9a64;
}
/* mobile */
.appstore-wrapper .content-sec.mobile-app {
    padding: 30px 50px;

}
.content-sec.mobile-app > h2 {
    font-size:  28px;
    margin: 0 0 20px;
    line-height: 18.15px;
}
.content-sec.mobile-app > p {
    font-size:  18px;
    line-height: 22.69px;
}
.downloadBtns {
    margin-top:  10px;
    display:  inline-block;
}
.downloadBtns > a:first-child {
    margin-right:  20px;
}
/*  */
.section-heading h3:after {
    content:  "";
    position:  absolute;
    left:  0;
    right:  0;
    height: 2px;
    width:  100%;
    background: #9bc8b2;
    top: 22px;
    z-index: -9;
}
.section-heading {
    position:  relative;
}
.section-heading > h3 {
    display:  inline-block;
    background: #e6e4e1;
    padding-right:  20px;
    margin-top: 0;
    margin-bottom: 25px;
}
.page-content > .row:first-child, .page-content > .row:nth-child(2) {
    margin-top: 70px;
}
section.produtos-section .person-wrapper {
    margin:  0;
}
.produtosemdestaque .produtos {
    margin-bottom:10px;
}
section.produtos-section .col-sm-3 {
    padding: 0 10px;
}
span.glyphicon.glyphicon-star-empty {
    width:  24px;
    height:  22px;
    background: url(../assets/icons/star.png);
}
span.glyphicon.glyphicon-star-empty:before {
    display: none;
}
.reviews.row,
.appstore.row {
    margin-top:  37px;
}
/* section.appstore-section > .col-sm-12,
section.reviews-section > .col-sm-12{
    padding: 0 10px;
} */
.service-wrapper.person-wrapper.col-sm-12.col-xs-12,
.reviews-wrapper.person-wrapper.col-sm-12.col-xs-12{
    margin-bottom:  0;
}
.produtos:after {
    content:  "";
    width:  51px;
    height: 48px;
    background:  url(../assets/icons/heart.png);
    position:  absolute;
    top: 10px;
    right: 5px;
}
section.reviews-section > .col-wrapper {
    border: 1px solid #e1dfde;
}
.produtos {
    position:  relative;
}
.blog.row .produtos:after {
    display:  none;
}
.appstore-wrapper .content-sec.mobile-app:after {
    content: "";
    background-image: url(../assets/images/mobile.png);
    background-repeat: no-repeat;
    background-position: 90% center;
    width:  100%;
    height:  100%;
    position:  absolute;
    top: 0;
    right:  0;
    z-index:999;
}
.appstore-wrapper .content-sec.mobile-app:before {
    content: "";
    background-image: url(../assets/icons/mobile-bg.png);
    background-repeat: no-repeat;
    background-size: 110%;
    width:  100%;
    height:  100%;
    position:  absolute;
    top: -1px;
    right: -1px;
    opacity: 0.09;
}
.appstore-wrapper * {
    position:  relative;
    z-index:  9;
}
.old-price:after,
.old-price:before {
    content:  "";
    position:  absolute;
    left:  0;
    top: 10px;
    width:  100%;
    height: 1px;
    background: #dbdbdb;
    opacity:.8;
}

.old-price:before {
    top: 11px;
    background: #bfbfbf;
}
nav.main-navbar.navbar.navbar-default .container {
    position:relative;
}

/* alinha catalogo */
.catalog-list {
    width: 700px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}
/*.catalog-card {}*/

.filter-button-row {
    background-color: #e6e4e1;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
}
.page-content {
    margin: 0px;
    padding: 0px;
}

.filter-button-row:first-child {
    padding: 0px;
    margin: -13% -15% -7% 10%;
    display: flex;
    justify-content: center;
    background-color: transparent;
}
.filter-button-product, .filter-button-service {
    width: 190px;       /*239px dimensão de cada botão no mockup*/
    height: 40px;       /*46px dimensão de cada botão no mockup*/
    border: 1px solid #579964;      /*Este é o verde correto!*/
    font-size: 16px;
}
.filter-button-product {
    border-radius: 10px 0px 0px 10px;
    color: #fff;
    background-color: #579964;
}
.filter-button-service {
    border-radius: 0px 10px 10px 0px;
    color: #579964;
    background-color: #fff; 
}
.btn-success {
    background-color: #579964;
}

/*  */
@media (min-width: 991px){

.person-wrapper.produtos-wrap.col-md-3.col-sm-6.col-xs-6:not(:last-child) {
    padding-right: 0;
}
.person-wrapper.produtos-wrap.col-md-3.col-sm-6.col-xs-6:not(:first-child) {
    padding-left:  10px;
}
}
@media (max-width:1199px) {
.header-nav ul.nav.navbar-nav.navbar-right {
    position: absolute;
    right: 0;
}

.header-nav .navbar-right-section.col-md-3.col-xs-6 {
    width: 25%;
    margin-left: 0;
    margin-top: 10px;
}
.header-nav .navbar-right-section.col-md-3.col-xs-6 > .row .col-xs-5{
    padding-left: 0;
}
.header-nav .nav>li>a {
    padding-left: 5px !important;
    padding-right:  13px;
}
}
@media (max-width: 991px){
  div#logintooltipContent{
    top: 49px !important;
  }
.img-holder {
    width: 240px;
}
.s-detail-holder {
    width:  calc(100% - 240px);
    padding-left: 20px;
}
.panel > .panel-heading > a>span {
    font-size: 16px;
}
.panel > .panel-heading > .panel-title {
    font-size: 17px;
}
.sr-heading.review-rating {
    margin-top:  10px;
}
.sr-heading > h2 {
    font-size:  25px;
    display:  block;
    margin-bottom:  10px;
}
.sr-detail > p {
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.s-catgories > .tag {
    font-size:  14px;
}
.page-content > .row:first-child, .page-content > .row:nth-child(2){
    margin-top: 40px;
}
.section-heading h3 {
    font-size: 30px;
}
.section-heading h3:after {
    top: 17px;
}
.produtos {
    margin: 10px 0;
}
.service{
  padding: 20px;
}
.reviews-wrapper .review {
    padding: 30px 10px 20px;
}
.review-text > p {
    font-size:  14px;
}
.review-heading h3 {
    font-size: 19px;
    margin-bottom: 5px;
}
.review-heading {
    margin-bottom:  20px;
}
.review-heading .review-author {
    font-size:  14px;
}
.content-sec.mobile-app * {
    position:  relative;
    z-index:  9999;
}
.appstore-wrapper .content-sec.mobile-app {
    padding:  30px;
    overflow: hidden;
}
.appstore-wrapper .content-sec.mobile-app:after{
  right: -220px;
}
.header-nav ul.nav.navbar-nav.navbar-right{
    position: absolute;
    right: 10px;
    top: 20px;
}
.header-nav .navbar-ul > ul.main-ul {
    margin-top:  5px;
}
.navbar-right-section.col-md-3.col-xs-6 {
    width: 40%;
    position: absolute;
    right: 0;
    bottom: -8px;
}
.header-nav .navbar-right-section.col-md-3.col-xs-6 {
    width: 35%;
  }
.header-nav .nav>li>a{
  padding-right: 40px;
  padding-left: 16px !important;
}

}
@media (max-width: 840px){
  .carousel-caption > h1{
    font-size: 52px;
    margin-top: 45px;
  }
  .carousel-caption > p {
    font-size: 15px;
    margin:  0;
  }
  .carousel-caption {
      width: 225px;
      height: 160px;
  }
}
@media (max-width: 767px){
  .img-holder{
    width: 100%;
  }
  .s-detail-holder {
    width:100%;
    padding-left: 0;
    margin-top: 20px;
  }
  .reviews-wrapper .review{
    width: 100%;
  }
  .panel > .panel-heading > .panel-title {
    font-size:  14PX;
    display:  INLINE-BLOCK;
    width:90%;
  }
  .s-catgories > .tag {
    font-size: 13px;
      padding: 5px 10px;
  }
  .section-heading h3 {
    font-size: 23px;
    font-weight: bold;
      margin-bottom: 10px;
  }
  .service{
    padding: 10px;
  }
  .sr-detail > p {
    font-size:  13px;
}

.sr-heading > h2 {
    font-size:  23px;
    margin-top:  0;
}
.content-sec.mobile-app > p {
    font-size:  15px;
}
.content-sec.mobile-app > h2 {
    margin-bottom: 15px;
}
.appstore-wrapper .content-sec.mobile-app {
    padding: 20px;
    text-align: center;
}
.appstore-wrapper .content-sec.mobile-app:after{
  display: none;
}
.appstore-wrapper .content-sec.mobile-app:before{
  opacity: 0.2;
  background-size: cover;
}
.banner .carousel-control {
    height:  50px;
    width:  30px;
}
.banner span.glyphicon.glyphicon-chevron-left, .banner span.glyphicon.glyphicon-chevron-right {
    height: 20px;
    width: 20px;
    background-size: contain;
    background-repeat:  no-repeat;
    background-position:  center;
}
}
@media (max-width:480px){
  .person-wrapper.produtos-wrap.col-md-3.col-sm-6.col-xs-6 {
    width:  100%;
  }
  .detail-text > p {
      font-size:  14px;
  }
  .now-price {
      font-size:  20px;
      font-weight:  bold;
  }
  .old-price {
      font-size:  14px;
  }
  .section-heading h3 {
    font-size:  20px;
    text-align: center;
    display: block;
}
.section-heading h3:after {
    display:  none;
}
.carousel-inner .item,.carousel-inner .item img {
    min-height: 150px;
}
.page-content > .row:first-child, .page-content > .row:nth-child(2) {
    margin-top: 20px;
}
.s-detail-holder {
    margin-top:  0px;
}
.reviews.row, .appstore.row {
    margin-top: 10px;
}
.reviews-wrapper .review {
    padding: 15px 10px;
}
.review-heading {
    margin-bottom: 10px;
}
.person-wrapper {
    margin-bottom: 1em;
}
.carousel-caption > p {
    font-size:  12px;
    line-height:  normal;
}

.carousel-caption > h1 {
    font-size:  18px;
    position:  static;
    margin: 0;
}

.carousel-caption {
    height: 80px;
    width:  130px;
}
}
