.filters-bar {
    width:  205px;
    display:  inline-block;
    vertical-align: top;
}
.filterd-content {
    display:  inline-block;
    width: calc(100% - 205px);
}
.produtos-page {
    padding: 60px 0 0;
}
.filterd-content .col-sm-3 {
    padding:  0 5px;
}
.product-reviews {
    margin-top:  15px;
}
.product-reviews span.star-sm {
    margin-left:  4px;
}
.product-reviews label {
    vertical-align: sub;
    margin-left: 6px;
}
.filterd-content .detail-text > p {
    font-size: 14px;
}
.filterd-content  .now-price {
    font-size: 22px;
}
.row-section-Heading {
    padding:  0 15px;
}
.row-section-Heading h4{
  color:#333333;
  font-size: 25px;
}
section.productListView .content-sec {
    border-radius:  5px;
    padding:  0px 25px;
}
.productListView .product-img-holder {
    display:  inline-block;
    width:  150px;
    height:  150px;
    border: 1px solid #fbfbfb;
}
.productListView .product-img-holder > img {
    width:  100%;
    height:  100%;
    object-fit: cover;
}
.productListView .product-detail-holder {
    display:  inline-block;
    vertical-align:  top;
    width: calc(100% - 150px);
    padding-left:  25px;
}
.list-product {
    border-bottom: 2px solid #e7e8ed;
    padding: 15px 0;
}
.product-detail-holder h3{
  font-size: 18.4px;
  margin: 0 0 15px;
  color: #141414;
  line-height: normal;
}
.list-product .old-price{
  font-size:25.56px;
}
.list-product .old-price {
    font-size: 25.56px;
    padding: 0;
    margin: 0 0 20px;
    line-height: normal;
}
.intrest-free > div{
    display:inline-block;
}
.intrest-free, .add-wishlet{
    color:  #1d9a64;
    font-size: 14.31px;
}
.intrest-free .product-reviews {
    margin:0 0 0 16%;
}
.product-reviews label {
    color:  #141415;
    margin-bottom: 0;
}
span.icon{
  display:  inline-block;
  vertical-align:middle;
}
span.credit-card-green {
    width:  19px;
    height:  14px;
    background:  url(../assets/icons/card-green.png);
    margin-right: 7px;
}
span.heart-green {
    width:  14px;
    height:  14px;
    background:  url(../assets/icons/heart-green.png);
    margin-right: 8px;
}
