.tooltip-wrap {
	z-index: 1;
    min-width: 350px;
    top: 70px;
    right: 0;
    box-shadow: 0 0 15px 1px rgba(0,0,0,0.2);
}

.tooltip-wrap:before {
    content: '';
    position: absolute;
    top: -12px;
    right: 80px;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #fff;
}

@media(max-width: 375px) {
	.tooltip-wrap {
		right: unset;
		top: unset;
	}

	.tooltip-wrap:before {
		display: none;
	}
}