@font-face {
    font-family: 'Avenir LT Std';
    src: url('./assets/fonts/AvenirLTStd-Book.woff2') format('woff2'),
        url('./assets/fonts/AvenirLTStd-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AvenirLTStd-Light';
    src: url('./assets/fonts/AvenirLTStd-Light.woff2') format('woff2'),
        url('./assets/fonts/AvenirLTStd-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Manus';
    src: url('./assets/fonts/ManusTrial.woff2') format('woff2'),
        url('./assets/fonts/ManusTrial.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
  transition: .4s all;
}
body {
  margin: 0;
  padding: 0;
  font-family: Avenir LT Std;
  background: #e6e4e1;
  color: #141414;
}
h1, h2, h3, h4, h5, h6 {
  color: #333333;
}
.section-heading h3 {
    font-size:  36px;
}
.btn-success {
    background:  #1d9a64;
    border-color:  #1b8f5c;
}
.pagination>li>a, .pagination>li>span {
    height:  35px;
    width:  35px;
    vertical-align:  middle;
    display:  inline-block;
    color:  #8d8d8d;
    padding:  6px;
    font-size:17px;
}
.pagination>li {
    display:  inline-block;
    box-shadow:  2px 3px 3px rgba(0,0,0,0.1);
}
.pagination>li:not(:first-child) {
    margin-left: 3px;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background:  transparent;
    border: none;
    background:  #fff;
    color:  #000;
}
ul.pagination > li:first-child a {
    background: #efefef;
}
ul.pagination > li:first-child a,
ul.pagination > li:last-child a{
    padding:0px;
    font-size:24px;
}
.pagination>li>a:hover, .pagination>li>span:hover {
    background: #fff;
    color:  #000;
}
@media (min-width: 1200px)
{
.container {
    width: 1150px;
  }
.page-content.container {
    width: 1140px;
  }
}
